<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!--Navigation-->
<nav th:replace="base :: nav"></nav>

<div class="container">
    <div class="container" style="text-align: center;padding-bottom: 20px; font-family: cursive; color: dodgerblue;">
        <h1>About</h1>
        <tr th:each="message: ${messages}"  th:object="${message}">
            <td><label th:field="*{postedDate}" th:text="*{postedDate}"></label></td>
        </tr>
    </div>

    <div class="container">
        <img class="rounded-circle" style="display: block; margin: 0 auto" width="250" height="250"
             src="https://avatars0.githubusercontent.com/u/46759592?s=460&v=4" role="img">
        <div class="container name">
            <h2 style="color: royalblue; text-align: center">Chau Nguyen</h2>
            <div class="name">
                <p style="text-align: justify">Design and Code Web pages using user interface best practices, including accessibility
                    and usability using Java, Spring Boot, Cloudinary, HTML, CSS, JavaScript and other scripting to develop well-designed
                    web and mobile web pages using Bootstrap Frameworks.</p>
            </div>
            <div class="container">
                <a href="https://shielded-beach-56942.herokuapp.com/">Texting Application</a>
                <br/>
                <a href="https://cnguyen0691.github.io/Portfolio/">Portfolio</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h3> Web Developer</h3>
        <ul style="text-align: justify;">
            <li>Work closely with senior developer to create an interactive website for a sport association that
                utilize CSS, HTML, and JavaScript
            </li>
            <li>Experience in using Bootstrap framework to create responsive web pages</li>
            <li>Write code that adheres to standards and best practices</li>
            <li>Starting in git commands to push and pull from GitHub repository</li>
        </ul>
    </div>
    <!--Social Media-->
    <div class="container social-network ">
        <ul class="social-circle">
            <li><a href="https://github.com/cnguyen0691" class="GitHub" title="GitHub"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/chaunguyen0691/" class="Linkedin" title="Linkedin"><i
                        class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>