<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--Navigation-->
<nav th:replace="base :: nav"></nav>
<!--Content-->
<div class="container">
    <div>
        <h2 >All Messages</h2>
    </div>
    <table class="table">

        <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">PostedDate</th>
            <th scope="col">PostedBy</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <h3 style="text-align: left;font-size: 18px;
            color: blue;" th:text="${message.title}"></h3>
                </div>
            </td>
            <td >
                <div>
                    <p th:text="${message.content}"></p>
                </div>
            </td>
            <td>
                <div>
                    <p><span th:text="${message.postedDate}"></span></p>
                </div>
            </td>
            <td >
                <div>
                    <p> <span th:text="${message.postedBy}"></span></p>
                </div>
            </td>
            <td><div> <img th:alt="Image" th:src="${message.image}" width="50px" height="50px"/></div></td>
            <td >
                <div th:if="${message.getUser().getId() == user.getId()}" >
                    <a th:href="@{/update/{id}(id=${message.id})}" class="btn btn-outline-secondary">Edit</a>
                </div>
            </td>
            <td>
                <div th:if="${message.getUser().getId() == user.getId()}">
                    <a th:href="@{/delete/{id}(id=${message.id})}" class="btn btn-outline-secondary">Delete </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>


<!--Footer-->
<footer th:replace="base :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
